<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado atual</title>
    <!-- Link para o arquivo CSS externo -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Título principal da página -->
    <h1>Mercado em tempo real</h1>
    <div class="section">
        <a class="button" href="notify.html">Notifique-me</a>
    </div>
    <div>
        <div class="grafico">
            <h2>Dolar agora</h2>
            <img src="images/dolar_grafico.png" class="grafico" alt="grafico atual dolar">
        </div>
        <div class="grafico">
            <h2>Euro agora</h2>
            <img src="images/euro_grafico.png" alt="grafico atual euro">
        </div>
        <div class="grafico">
            <h2>BTC agora</h2>
            <img src="images/bitcoin_grafico.png" alt="grafico atual bitcoin">
        </div>
    </div>

    <!-- Inclusão do arquivo JavaScript externo -->
    <script src="recarregar_imagens.js"></script>
</body>
</html>
